// colors
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$red: rgb(239, 64, 54);
$ash: #f0f0f0;

$under-tab: 767;
$mobile: 768;
$menu-one-l:769;
$menu-one-h:1300;
$menu-one-1:850;
$menu-one-2:1010;
$menu-one-3:769;
$menu-one-4:849;
$menu-one-5:320;
$menu-one-6:400;